name: Build iOS

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: aarch64-apple-ios

    - name: Install Dependencies
      run: |
        brew install ldid dpkg

    - name: Build
      run: |
        chmod +x tools/ios/build.sh
        ./tools/ios/build.sh

    - name: Package
      run: |
        chmod +x tools/ios/package.sh
        ./tools/ios/package.sh

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: hachimi-ios-deb
        path: "*.deb"
